{
  "presets": [
    "@babel/env",
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "babel-plugin-direct-import",
      {
        "modules": [
          "@mui/material",
          "@mui/icons-material"
        ]
      }
    ]
  ]
}
