.textButton {
  margin-top: 1rem;
  border: none;
  padding: 0;

  &:focus, &:hover {
	outline: none;
	//text-decoration: underline;
	background-color: black;
    color: white;
  }
}

.inlineButton {
  padding: 0.2em 0.4em 0.1em;
}
