@import "../config";

.menu {
  @extend %menu-typo;

  display: flex;

  a,
  button {
	color: black;
	border: none;
	background: none;

	&:disabled, &.disabled {
	  text-decoration: line-through;
	  color: gray;
	  cursor: default;
	}
  }
}

.menu.sticky {
  position: sticky;
  top: 0;
  padding-top: 1em;
  padding-bottom: 0.3em;
  background-color: rgba(255, 255, 255, 0.8);
}

.searchFieldContainer {
  margin-left: auto;
  position: relative;
}

input[type="text"].searchField {
  font-size: $MENU_FONT_SIZE;

  margin-top: -0.3em;
  padding-bottom: 3px;
}

.eraseSearchField {
  @extend %menu-typo;

  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}
