%menu-typo {
  font-family: "Futura", "Futura Std Medium", sans-serif;
  font-size: 1.5rem;
}

.menu {
  @extend %menu-typo;

  display: flex;

  a,
  button {
	color: black;
	border: none;
	background: none;

	&:disabled, &.disabled {
	  text-decoration: line-through;
	  color: gray;
	  cursor: default;
	}
  }
}

.searchFieldContainer {
  margin-left: auto;
  position: relative;
}

input[type="text"].searchField {
  @extend %menu-typo;

  margin-top: -0.3em;
  padding-bottom: 3px;
}

.eraseSearchField {
  @extend %menu-typo;

  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}
