{
  "presets": [
	["@babel/preset-env", {
	  "targets": { "node": 7 },
	  "useBuiltIns": "usage"
	}],
	"@babel/react",
    "@babel/preset-flow"
  ],
  "plugins": ["add-module-exports"],
  "env": {
	"production": {
	  "presets": ["react-optimize"],
	  "plugins": ["dev-expression"]
	},
	"development": {
	  "plugins": [
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		["@babel/plugin-proposal-class-properties", { "loose": true }],
		"@babel/plugin-transform-classes",
		["flow-runtime", {
		  "assert": true,
		  "annotate": true
		}]
	  ]
	}
  }
}
