@import "../styles/config";

.container {
  max-width: $CONTAINER_WIDTH;
  margin: 2rem auto 5rem;

  @media (max-width: $BREAK_POINT_MOBILE) {
	margin-top: 0;
  }
}

.container a {
  /*font-size: 1.4rem;*/
}

header {
  display: flex;

  @media (max-width: $BREAK_POINT_MOBILE) {
	flex-direction: column;
  }
}

.title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  margin: 0;

  font-size: 5rem;
  font-weight: bold;
  letter-spacing: -.025em;

  @media (max-width: $BREAK_POINT_MOBILE) {
	font-size: 15vw;
  }

  a {
	color: blue;
  }
}

.userIndicator {
  margin-left: auto;

  @media (max-width: $BREAK_POINT_MOBILE) {
	order: -1;
  }
}

.username {
  color: black;
  opacity: 1;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.version {
  padding: 1rem;
  margin: 1rem 0 2rem;

  color: whitesmoke;

  &.warning {
    background-color: darkred;
  }
  &.notice {
    background-color: gray;
  }

  .headline {
    font-size: 150%;
    margin-bottom: 0.2em;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

