@import "../styles/config";

.container {
  max-width: $CONTAINER_WIDTH;
  margin: 2rem auto 5rem;
}

.container a {
  /*font-size: 1.4rem;*/
}

.title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;

  margin: 0;

  font-size: 5rem;
  font-weight: bold;
  letter-spacing: -.025em;
}

.loginButton {
  border: 1px solid black;
  background: none;

  padding: 0.3em 1.2em;

  font-family: "Futura Std Medium", sans-serif;
  font-size: 2rem;
}

.username {
  color: black;
  opacity: 1;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.version {
  padding: 1rem;
  margin: 1rem 0 2rem;

  color: whitesmoke;

  &.warning {
    background-color: darkred;
  }
  &.notice {
    background-color: gray;
  }

  .headline {
    font-size: 150%;
    margin-bottom: 0.2em;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

