.links {
  margin-top: 2rem;
}
.link {
  margin-bottom: 2rem;
}
.title {
  display: flex;
}
.name {
  color: inherit;
  margin-bottom: 0.3em;
  font-size: 130%;
}
.link .date {
  margin-top: 0.2rem;
  margin-left: auto;
  color: gray;
  font-size: 80%;
}

.info {
  display: flex;
  color: gray;
  margin-bottom: 0.5em;
}
.info a {
  color: inherit;
}
.domain {
  min-width: 10em;
}
.description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tags {
  display: flex;
}
.tag {
  background-color: #ddd;
  padding: 0.2em 0.7em;
  margin-right: 0.5em;
}
