$MARKED_TEXTAREA_PADDING: 1rem;

.textareaContainer {
  position: relative;
  margin-top: 2px;
  min-height: 3rem;
}

.emptyTextarea {
  border: 1px dashed gray;
  color: gray;

  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.3rem;
}

.editButton {
  position: absolute;
  top: $MARKED_TEXTAREA_PADDING;
  right: $MARKED_TEXTAREA_PADDING;

  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;

  .textareaContainer:hover & {
	opacity: 1;
	pointer-events: all;
  }
}
