@import "../styles/config";

.form input[type="text"] {
  width: 100%;
}
.name {
  margin: 1rem 0;
  font-size: 200%;
}
.description {
  width: 100%;
  height: 20vh;
}

.subheader {
  font-family: $MENU_FONT;
  font-size: 80%;
  text-transform: uppercase;
  color: gray;
  margin-top: 0.5em;
}
