@import "../styles/config";

.form input[type="text"] {
  width: 100%;
}
input[type="text"].name {
  margin-bottom: 1rem;
  padding-bottom: 0.1em;
  font-size: 200%;
}
.description {
  width: 100%;
  height: 20vh;
}

.subheader {
  font-size: 80%;
  text-transform: uppercase;
  color: gray;
  margin-top: 0.5em;
}

.suggestions {
  margin-bottom: 2rem;

  opacity: 0;
  max-height: 0;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}
.suggestionsVisible {
  opacity: 1;
  max-height: 100px;
}
