<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover" />
      <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)" />
      <meta name="theme-color" content="#121212" media="(prefers-color-scheme: dark)" />
      <link rel="icon" sizes="256x256" href="/icons/256x256.png">
      <link rel="apple-touch-icon" href="/icons/256x256.png">
      <link rel="manifest" href="/manifest.webmanifest">
    <title>Structure</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
