<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover" />
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#1e1e1e" media="(prefers-color-scheme: dark)" />
    <link rel="icon" href="/favicon.ico" sizes='any'>
    <link rel="icon" href="/icons/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icons/favicon_256x256.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <title>Structure</title>
    <style>
      #loading {
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 22px;
        height: 60vh;
        padding-bottom: 40vh;
        box-sizing: content-box;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: white;
        transition: opacity 0.3s ease-out; /* 0.3s ease-out; */
      }
      #initial-loading-spinner {
        display: inline-block;
        position: relative;
        bottom: 28px;
        right: 20px;
        animation: fade-in-loading-spinner 0.3s ease-in-out both;
        animation-delay: 0.5s;
      }
      #initial-loading-spinner div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        border-width: 3px;
        border-style: solid;
        border-radius: 50%;
        border-color: currentColor transparent transparent transparent;
        animation: initial-loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      }
      #initial-loading-spinner div:nth-child(1) {
        animation-delay: -0.45s;
      }
      #initial-loading-spinner div:nth-child(2) {
        animation-delay: -0.3s;
      }
      #initial-loading-spinner div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes initial-loading-spinner {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      @keyframes fade-in-loading-spinner {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @media screen and (prefers-color-scheme: dark) {
        body, #loading {
          background-color: #1e1e1e;
          color: white;
        }
      }
    </style>
  </head>
  <body>
    <div id="loading">
      <div id="initial-loading-spinner"><div></div><div></div><div></div><div></div></div>
    </div>
    <div id="root"></div>
  </body>
</html>
