.menu {
  display: flex;

  font-family: "Futura Std Medium", sans-serif;
  font-size: 1.5rem;
}

.menu a,
.menu button {
  color: black;
  border: none;
  background: none;
}

.more {
  background-color: #eee;
  text-align: center;
  padding: 1em;
}
