@import "../styles/config";
@import "../styles/tag";

.tagContainer {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  @extend .base-tag;

  margin-bottom: $tag-margin;
}

.columnsContainer {
  display: flex;
  align-items: flex-start;

  width: 98vw;
  margin-left: calc(calc(98vw - #{$CONTAINER_WIDTH}) / -2);

  .tagContainer {
	align-items: flex-start;

	.tag {
	  width: fit-content;
	  max-width: 7em;
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	}
  }
}
.tagContainerDroppable {
  background-color: lightgrey;
}
