.settings-table {
  display: flex;
}

.settings-table__purpose {
  width: 8em;
}

.settings-table__value {
  flex-grow: 1;

  input {
	width: 100%;
  }
}

.settings-table__action {
  width: 10em;
  text-align: right;
}

.settings-table__comment {
  font-size: small;
  color: gray;
}
