@import "~font-awesome/css/font-awesome.css";

body {
  position: relative;
  color: black;
  height: 100vh;
  background-color: white;
  font-family: Helvetica, Helvetica Neue, Arial, serif;
}

//p {
//  font-size: 24px;
//}

a {
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

/* INPUTS */
input[type="text"] {
  outline: none;
  padding: 0.3em 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);

  &:empty {
	border-bottom-color: lightgray;
  }
}

textarea {
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 0.5em;
}

input[type="text"]:hover,
textarea:hover {
  border-color: lightgray;
}

input[type="text"]:focus,
textarea:focus {
  border-color: black;
  outline: none;
}

button {
  background: none;
  border: 1px solid black;
  cursor: pointer;

  &:hover,
  &:active {
	background-color: #eee;
  }
}
